asgiref==3.3.4
awesome-slugify==1.6.5
Django==3.2
pytz==2021.1
regex==2021.4.4
sqlparse==0.4.1
Unidecode==0.4.21
django-mptt==0.12.0
django-simple-history==3.0.0
Pillow==8.2.0
openpyxl==3.0.7
yadisk==1.2.14