{% extends "base.html" %}

{% block login %}

    <div class="login_register">
        <h4 class="mb-3">Регистрация</h4>
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Пожалуйста, авторизуйтесь, чтобы получить доступ к этой странице.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="login">
                <label for="{{ form.username.id_for_label }}">Логин</label>
                <br>
                {{ form.username }}
            </div>
            <div class="fio">
                <label for="{{ form.fio.id_for_label }}">ФИО</label>
                <br>
                {{ form.fio }}
            </div>
            <div class="password">
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                <br>
                {{ form.password }}
            </div>
            {% if form.errors %}
                <p>Произошла ошибка. Возможно пользователь с таким логином уже существует.</p>
            {% endif %}

            <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>


    <div class="register">
        <p class="text-center">Есть аккаунт? <a href="/login">Авторизоваться</a></p>
    </div>

{% endblock %}