{% extends 'base.html' %}

{% block content %}
    <a class="btn btn-outline-secondary" href="{% url 'base_object_update_page_url' lab=current_lab.slug slug=object.slug %}" role="button">Редактировать</a>

    <!--------------------- Создание простого объекта ----------------------->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#simple_object_create">
        Создать простой объект на основе данного базового
    </button>

    <!-- Модальное окно -->
    <div class="modal fade" id="simple_object_create" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Выбор категории для нового простого объекта</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'base_object_create_simple_url' lab=current_lab.slug slug=object.slug %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ cat_form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-secondary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------->

    <h1>{{ object.name }}</h1>
    <ul>
        {% if object.invoicebaseobject_set.all %}
            <li>{% if object.invoicebaseobject_set.all|length == 1 %}
                    Накладная :
                {% else %}
                    Накладные :
                {% endif %}

                {% for invoice in object.invoicebaseobject_set.all %}
                    <a href="{{ invoice.invoice.get_absolute_url }}">{{ invoice.invoice.number }}</a>
                {% endfor %}
            </li>
        {% endif %}

        <li>Инвентаризационный номер : {{ object.inventory_number }}</li>
        {% if object.bill %}
            <li>Счет : {{ object.bill }}</li>
        {% endif %}
        <li>Количество : {{ object.amount }} {% if object.measure %} , {{ object.measure }}{% endif %}</li>
        <li>Сумма : {{ object.total_price_text }}</li>
        <li>Лаборатория : {{ object.lab.name }}</li>
        {% if object.place %}
            <li>Место расположения : {{ object.place }}</li>
        {% endif %}
        {% if object.worker %}
            <li>Сотрудник : <a href="{{ object.worker.get_absolute_url }}">{{ object.worker.name }}</a></li>
        {% endif %}
        {% if object.status %}
            <li>Статус : {{ object.get_status_display }}</li>
        {% endif %}
        {% if object.category %}
            <li>Раздел : <a href="{{ object.category.get_absolute_url }}">{{ object.category.name }}</a></li>
        {% endif %}
        {% if object.date_add %}
            <li>Дата принятия к учету : {{ object.date_add }}</li>
        {% endif %}
        {% if object.get_place %}
            <li>
                {% if object.get_place|length == 1 %}
                    Кабинет :
                {% else %}
                    Кабинеты :
                {% endif %}
                {% for room in object.get_place %}
                    <a href="{{ room.get_absolute_url }}">{{ room }}</a>{% if forloop.last == False %}, {% endif %}
                {% endfor %}
            </li>
        {% endif %}
        {% if object.get_current_place %}
            <li>
                {% if object.get_current_place|length == 1 %}
                    Место расположения :
                {% else %}
                    Места расположения :
                {% endif %}
                {% for place in object.get_current_place %}
                    {{ place }}{% if forloop.last == False %}, {% endif %}
                {% endfor %}
            </li>

        {% endif %}
        {% if object.text %}
            <li>Описание : {{ object.text }}</li>
        {% endif %}
    </ul>

    {% if simple_objects %}
        <h3>Данный базовый объект состоит из :</h3>

        <table class="table table-hover table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Количество</th>
                <th scope="col">Свободно</th>
            </tr>
            </thead>

            <tbody>
            {% for simple_object in simple_objects %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ simple_object.get_absolute_url }}">{{ simple_object.name }}</a>
                    </td>
                    <td>{{ simple_object.amount }}</td>
                    <td>{{ simple_object.amount_free }}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

    {% endif %}

{% endblock %}