{% extends 'db_site/db_main_block.html' %}

{% block title %}
    Редактирование списка базовых объектов
{% endblock %}

{% block db_breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
    <li class="breadcrumb-item">Редактирование списка базовых объектов</li>
{% endblock %}

{% block db_content %}

    {% if is_paginator %}

        <nav aria-label="...">
            <ul class="pagination pagination-sm mb-0">
                {% if prev_url %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{{ old_prefix }}">Начало</a>
                    </li>
                {% endif %}

                {% for n in page_object.paginator.page_range %}

                    {% if page_object.number == n %}
                        <li class="page-item active" aria-current="page">
                            <p class="page-link">{{ n }} <span class="sr-only">(current)</span></p>
                        </li>
                    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                        <li class="page-item">
                            <a class="page-link" href="?page={{ n }}{{ old_prefix }}">{{ n }}</a>
                        </li>

                    {% endif %}
                {% endfor %}

                {% if next_url %}
                    <li class="page-item">
                        <a class="page-link" href="{{ last_url }}{{ old_prefix }}">Конец</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    {% endif %}

    <form method="post" class="mb-3" action="">
        {{ formset.management_form }}
        {% if form.errors %}

        {% endif %}
        {% csrf_token %}
        <table class="table table-hover table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col" style="width: 2%">#</th>
                <th scope="col" style="width: 35%">Название</th>
                <th scope="col" style="width: 13%">Инв. номер</th>
                <th scope="col" style="width: 10%">Статус</th>
                <th scope="col" style="width: 5%">Дата</th>
                <th scope="col" style="width: 10%">Счет</th>
                <th scope="col" style="width: 5%">Мера</th>
                <th scope="col" style="width: 10%">Всего</th>
                <th scope="col" style="width: 10%">Сумма</th>
            </tr>
            </thead>
            <tbody>
            {% for form in formset %}
                <tr>
                    <td></td>
                    <td>
                        {% if form.name.errors %}
                            <div class="alert-danger">
                                {{ form.name.errors }}
                            </div>
                        {% endif %}
                        {{ form.name }}
                    </td>
                    <td>
                        {% if form.inventory_number.errors %}
                            <div class="alert-danger">
                                {{ form.inventory_number.errors }}
                            </div>
                        {% endif %}
                        {{ form.inventory_number }}
                    </td>
                    <td>
                        {% if form.status.errors %}
                            <div class="alert-danger">
                                {{ form.status.errors }}
                            </div>
                        {% endif %}
                        {{ form.status }}
                    </td>
                    <td>
                        {% if form.date_add.errors %}
                            <div class="alert-danger">
                                {{ form.date_add.errors }}
                            </div>
                        {% endif %}
                        {{ form.date_add }}
                    </td>
                    <td>
                        {% if form.inventory_number.errors %}
                            <div class="alert-danger">
                                {{ form.inventory_number.errors }}
                            </div>
                        {% endif %}
                        {{ form.bill }}
                    </td>
                    <td>
                        {% if form.measure.errors %}
                            <div class="alert-danger">
                                {{ form.measure.errors }}
                            </div>
                        {% endif %}
                        {{ form.measure }}
                    </td>
                    <td>
                        {% if form.amount.errors %}
                            <div class="alert-danger">
                                {{ form.amount.errors }}
                            </div>
                        {% endif %}
                        {{ form.amount }}
                    </td>
                    <td>
                        {% if form.total_price.errors %}
                            <div class="alert-danger">
                                {{ form.total_price.errors }}
                            </div>
                        {% endif %}
                        {{ form.total_price }}
                    </td>
                </tr>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <input type="button" class="btn btn-primary" value="Назад" onClick="javascript:history.go(-1);">
    </form>

    {% if is_paginator %}

        <nav aria-label="...">
            <ul class="pagination pagination-sm mb-0">
                {% if prev_url %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{{ old_prefix }}">Начало</a>
                    </li>
                {% endif %}

                {% for n in page_object.paginator.page_range %}

                    {% if page_object.number == n %}
                        <li class="page-item active" aria-current="page">
                            <p class="page-link">{{ n }} <span class="sr-only">(current)</span></p>
                        </li>
                    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                        <li class="page-item">
                            <a class="page-link" href="?page={{ n }}{{ old_prefix }}">{{ n }}</a>
                        </li>

                    {% endif %}
                {% endfor %}

                {% if next_url %}
                    <li class="page-item">
                        <a class="page-link" href="{{ last_url }}{{ old_prefix }}">Конец</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    {% endif %}

{% endblock %}