{% extends 'db_site/db_main_block.html' %}

{% load static %}
{% load mptt_tags %}

{% block db_breadcrumb%}
    <li class="breadcrumb-item"><a href="{{ big_object.base.category.get_absolute_url }}">{{ big_object.base.category.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ big_object.base.get_absolute_url }}">{{ big_object.base.name }} (основная страница)</a></li>
    <li class="breadcrumb-item">
        {% if big_object.name %}
            {{ big_object.name }}
        {% else %}
            {{ big_object.base.name }}
        {% endif %}
    </li>
{% endblock %}

{% block db_content %}

    <!--------------------- Блок редактирования ----------------------->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-secondary mb-3" data-toggle="modal" data-target="#change_data">
        Редактировать экземпляр
    </button>

    <!-- Модальное окно -->
    <div class="modal fade" id="change_data" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Редактирование</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ big_object.get_absolute_url }}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% if change_form.errors %}
                            <div class="alert-danger">
                                {{ change_form.errors }}
                            </div>
                        {% endif %}
                        {{ change_form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------->

    <!--------------------- Блок копирования ----------------------->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-secondary mb-3" data-toggle="modal" data-target="#object_copy">
        Копировать
    </button>

    <!-- Модальное окно -->
    <div class="modal fade" id="object_copy" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Копировать объект : {{ base_big_object.name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ big_object.get_absolute_url }}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% if copy_form.errors %}
                            <div class="alert-danger">
                                {{ copy_form.errors }}
                            </div>
                        {% endif %}
                        {{ copy_form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-outline-primary">Копировать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------->

    <!--------------------- Блок добавления категории для файлов ----------------------->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-secondary mb-3" data-toggle="modal" data-target="#new_files_category">
        Добавить категорию для файлов
    </button>

    <!-- Модальное окно -->
    <div class="modal fade" id="new_files_category" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Новая категория</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ base_big_object.get_absolute_url }}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {% if file_categories_form.errors %}
                            <div class="alert-danger">
                                {{ file_categories_form.errors }}
                            </div>
                        {% endif %}
                        {{ file_categories_form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-outline-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------->

    <button class="btn btn-outline-secondary mb-3" onclick="createFile()" role="button">Сформировать файл</button>

    <p class="small_p not_margin"><a href="{{ big_object.base.get_absolute_url }}">Основная страница</a></p>

    {% if big_object.name %}
        <h2>{{ big_object.name }}</h2>
    {% else %}
         <h2>{{ big_object.base.name }}</h2>
    {% endif %}

    <div class="row">
        <div class="col mb-3">

            <ul>
                {% if base_big_object.inventory_number %}
                    <li>Инв. номер : {{ base_big_object.inventory_number }}</li>
                {% endif %}
                {% if big_object.system_number %}
                    <li>Номер системы : {{ big_object.system_number }}</li>
                {% endif %}
                {% if big_object.controller %}
                    <li>Контроллер : {{ big_object.controller }}</li>
                {% endif %}
                {% if big_object.detector %}
                    <li>Детектор : {{ big_object.detector }}</li>
                {% endif %}
                {% if big_object.interface %}
                    <li>Интерфейс : {{ big_object.interface }}</li>
                {% endif %}
                {% if big_object.report %}
                    <li>Отчет : {{ big_object.report }}</li>
                {% endif %}
                {% if big_object.year %}
                    <li>Год : {{ big_object.year }}</li>
                {% endif %}

                {% if base_big_object.text %}
                    <li>Описание : {{ base_big_object.text|linebreaksbr }}</li>
                {% endif %}

            </ul>

            {% if base_big_object.kod %}
                <h3>Код : {{ base_big_object.kod }}{% if big_object.kod_end %}-{{ big_object.kod_end }}{% endif %}</h3>
            {% endif %}

            {% if big_object.parent %}
                <h3>Родитель : <a href="{{ big_object.parent.get_absolute_url }}">{{ big_object.parent.base }}</a></h3>
            {% endif %}

            {% if big_object.status %}
                <h3>Статус : {{ big_object.get_status_display }}</h3>
            {% endif %}
            {% if big_object.price %}
                <h3>Стоимость : {{ big_object.price_text }}</h3>
            {% endif %}


        </div>
        <div class="col">
            {% for category in file_categories %}
                <div class="row">
                    <div class="col text-center">
                        <h5 id="id__{{ category.id }}" onclick="showCategory(this);" class="btn btn-outline-secondary">{{ category.name }}</h5>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-primary" href="{% url 'object_update_category_files_url' lab=current_lab.slug slug=base_big_object.slug pk=category.pk object_type='big' %}">Редактировать</a>
                    </div>
                </div>
                <div class="row" id="files_id__{{ category.id }}" style="display: none">
                    <div class="col-md-12">
                        <h5>{{ category.text }}</h5>
                    </div>
                    {% if category.images.all %}
                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div class="col-md-12 mt-1">
                            Изображения
                        </div>
                        <div class="col-md-12 text-left">
                            {% for image in category.images.all %}
                                <a data-fancybox="gallery" href="{{image.image_big.url }}">
                                    <img class="mt-2" src="{{ image.image.url }}" alt="Изображение" width="15%">
                                </a>
                            {% endfor %}
                            <hr>
                        </div>
                    {% endif %}
                    {% if category.files.all %}
                        <div class="col-md-12">
                            Файлы
                        </div>
                        {% for file in category.files.all %}
                            <div class="mt-2 col-md-12">
                                <a href="{{ file.file.url }}" download>{{ file.filename }}</a>
                            </div>
                        {% endfor %}
                        <div class="col-md-12">
                            <hr>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

    {#    {% if big_object.status != 'RD' %}#}
    <h3 class="btn btn-outline-secondary" onclick="showTableOnPage(this);" id="components">Список компонентов</h3>
    <div id="components_table" style="display: none">

        {% for part in all_parts %}
            {% if part.base.simple_components.all %}
                <h5><a href="{{ part.base.get_absolute_url }}">{{ part.full_name }}</a></h5>
                <table  class="table table-hover table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th scope="col" style="width: 5%">#</th>
                        <th scope="col" style="width: 50%">Название</th>
                        <th scope="col" style="width: 15%">Инв. номер</th>
                        {% if base_big_object != big_object %}
                            <th scope="col" style="width: 10%">
                                {% if part.status == 'IW' %}
                                    Используется
                                {% elif part.status == 'NW'%}
                                    Требуется
                                {% elif part.status == 'RD'%}
                                    Использовалось
                                {% elif part.status == 'WO'%}
                                    Использовалось
                                {% endif %}
                            </th>
                            {% if part.status == 'IW' %}
                                <th scope="col" style="width: 10%">Остаток</th>
                            {% elif part.status not in 'RD WO' %}
                                <th scope="col" style="width: 10%">Свободно</th>
                            {% endif %}
                        {% else %}
                            <th scope="col" style="width: 10%">Количество</th>
                        {% endif %}


                        <th scope="col" style="width: 10%">Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for component in part.base.simple_components.all %}

                            <tr>
                                <td></td>
                                <td>
                                    <a href="{{ component.simple_object.get_absolute_url }}">{{ component.simple_object.name }} {% if component.simple_object.measure %}, {{ component.simple_object.measure }}{% endif %}</a></td>
                                <td>
                                    {% if component.simple_object.base_object.inventory_number %}
                                        {{ component.simple_object.base_object.inventory_number }}
                                    {% endif %}
                                </td>
                                <td>{{ component.amount }}</td>
                                {% if part.status not in 'RD WO' %}
                                    <td {% if component.simple_object.amount_free < 0 and part.status == 'IW'%}
                                        style="background: #dc3545"
                                    {% elif component.simple_object.amount_free < component.amount and part.status == 'NW'%}
                                        style="background: #dc3545"
                                    {% endif %}>{{ component.simple_object.amount_free }}</td>
                                {% endif %}
                                <td>{{ component.total_price_text }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}

    </div>

    <hr>

    <h3 class="btn btn-outline-secondary" onclick="showTableOnPage(this);" id="base_components">Список базовых компонентов</h3>
    <table id="base_components_table" class="table table-hover table-bordered" style="display: none">
        <thead>
        <tr class="text-center">
            <th scope="col" style="width: 5%">#</th>
            <th scope="col" style="width: 50%">Название</th>
            <th scope="col" style="width: 25%">Инв. номер</th>
            <th scope="col" style="width: 10%">Счет</th>
            <th scope="col" style="width: 10%">Количество</th>
        </tr>
        </thead>

        <tbody>
            {% for component, amount in base_components.items %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ component.get_absolute_url }}">{{ component.name }}{% if component.measure %}, {{ component.measure }}{% endif %}</a></td>
                    <td>{{ component.inventory_number }}</td>
                    <td>
                        {% if component.bill %}
                            {{ component.bill }}
                        {% endif %}
                    </td>
                    <td>
                        {% if amount != '-' %}
                            {{ amount }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{#    {% endif %}#}



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

{% endblock %}