{% extends 'db_site/db_main_block.html' %}


{% block title %}
    Добавление новой категори
{% endblock %}

{% block db_breadcrumb%}
    {% if status == 'add' %}
        <li class="breadcrumb-item">Добавление новой категории</li>
    {% elif status == 'update' %}
        <li class="breadcrumb-item"><a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
        <li class="breadcrumb-item">Редактирование категории</li>
    {% endif %}
{% endblock %}

{% block db_content %}
    <form action="{% if status == 'add' %}
                        {% url 'category_add_form_url' lab=current_lab.slug%}
                    {% elif status == 'update' %}
                        {% url 'category_update_form_url' lab=current_lab.slug slug=cat_slug%}
                    {% endif %}"
    method="post">
        {% csrf_token %}
            {% if form.errors %}
                <div class="alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}

            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <input type="button" class="btn btn-primary" value="Назад" onClick="javascript:history.go(-1);">
    </form>

{% endblock %}