{% extends 'base.html' %}

{% block title %}
    Новый объект
{% endblock %}

{% block content %}
    {% if type == 'add_exist_base_object' %}
        <h3>Добавление существующего базового объекта к накладной <a href="{{ invoice.get_absolute_url }}">{{ invoice.number }}</a></h3>
    {% elif type == 'update_exist_instance' %}
        <h3>Редактирование составляющей у накладной <a href="{{ invoice.get_absolute_url }}">{{ invoice.number }}</a></h3>
    {% elif type == 'base_object_form' %}
        <h3>Новый базовый объект для требовательной накладной <a href="{{ invoice.get_absolute_url }}">{{ invoice.number }}</a></h3>
    {% else %}
        <h3>Новый простой объект для требовательной накладной <a href="{{ invoice.get_absolute_url }}">{{ invoice.number }}</a></h3>
    {% endif %}

    {% if type == 'base_object_form' %}
        <form method="post" action="{% url 'invoice_base_object_form_url' lab=invoice.lab.slug pk=invoice.pk %}">
    {% elif type == 'add_exist_base_object' %}
        <form method="post" action="{% url 'invoice_add_base_object_form_url' lab=invoice.lab.slug pk=invoice.pk %}">
    {% elif type == 'update_exist_instance' %}
        <form method="post" action="{% url 'invoice_update_instance_form_url' lab=invoice.lab.slug pk=invoice.pk instance_pk=instance_pk %}">
    {% else %}
        <form method="post" action="{% url 'invoice_object_form_url' lab=invoice.lab.slug pk=invoice.pk %}">
    {% endif %}
        {% csrf_token %}

        {% if base_form %}
            <div class="mb-3">
                {{ base_form.as_p }}
                {{ inventory_form.as_p }}
            </div>

            <hr>
        {% endif %}

        {% for field in form %}
            <div class="mb-2">
                {% if field.id_for_label != 'id_base_object' or type == 'add_exist_base_object' or type == 'update_exist_instance' %}
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    {% if field.id_for_label == 'search_box'%}
                        <div id="search_advice_wrapper"></div>
                    {% endif %}
                {% endif %}

            </div>

        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <input type="button" class="btn btn-primary" value="Назад" onClick="javascript:history.go(-1);">
    </form>

{% endblock %}