{% extends 'db_site/db_main_block.html' %}
{% load static %}

{% block title %}
    {% if invoice %}
        Редактирование {{ invoice.number }}
    {% else %}
        Добавление новой накладной
    {% endif %}
{% endblock %}

{% block db_breadcrumb %}
    {% if invoice %}
        <li class="breadcrumb-item"><a href="{% url 'invoices_list_url' lab=current_lab.slug %}">Накладные</a></li>
        <li class="breadcrumb-item"><a href="{{ invoice.get_absolute_url }}">{{ invoice.number }}</a></li>
        <li class="breadcrumb-item">Редактирование</li>
    {% else %}
        <li class="breadcrumb-item">Добавление новой накладной</li>
    {% endif %}
{% endblock %}

{% block db_content %}
    {% if invoice %}
        <h3>Редактирование накладной {{ invoice.number }}</h3>
    {% else %}
        <h3>Добавление новой накладной</h3>
    {% endif %}

    <form action="{% if invoice %}{% url 'invoice_update_page_url' lab=invoice.lab.slug pk=invoice.pk %}{% else %}{% url 'invoice_create_page_url' lab=current_lab.slug %}{% endif %} " method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <input type="button" class="btn btn-primary" value="Назад" onClick="javascript:history.go(-1);">
    </form>

{% endblock %}