{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if category != 'all' and user.is_superuser%}
{#        <a class="btn btn-outline-dark mb-3" href="#" role="button">Редактировать объекты</a>#}
{#        <a class="btn btn-outline-secondary mb-3" href="{% url 'simple_object_add_form_url' lab=current_lab.slug %}" role="button">Добавить простой объект</a>#}
{#        <a class="btn btn-outline-secondary mb-3" href="{% url 'big_object_add_url' lab=current_lab.slug %}" role="button">Добавить сложный объект</a>#}
        <a class="btn btn-outline-secondary mb-3" href="{% url 'category_update_form_url' lab=current_lab.slug slug=cat_slug %}" role="button">Редактировать категорию</a>
        {% if base_objects %}
            <a class="btn btn-outline-secondary mb-3" href="{% url 'base_objects_list_update_page_url' lab=current_lab.slug cat=cat_slug %}" role="button">Редактировать базовый список</a>
        {% endif %}

        {#        <a class="btn btn-outline-danger mb-3" href="#" role="button">Удалить категорию</a>#}
    {% endif %}
    {% if type == 'category_page' %}
        {% if base_objects %}
            <h2>Базовые единицы</h2>
            <hr>
        {% elif simple_objects%}
            <h2>Простые единицы</h2>
            <hr>
        {% endif %}
        <h3>{{ category.name }}</h3>
        <p>{{ category.text }}</p>
        {% if simple_objects %}
            <p>Количество позиций : {{ simple_objects_count }}</p>
        {% elif big_objects %}
            <p>Количество позиций : {{ big_objects_count }}</p>
        {% elif base_objects %}
            <p>Количество позиций : {{ base_objects_count }}</p>
        {% endif %}

    {% endif %}

    <div>
        <form method="get">
            <label for="select_sorted">Сортировать по : </label>
            <select id="select_sorted" class="form-control" name="sort">
                <option value="name_lower">название (по возрастанию) &#8593;</option>
                <option value="-name_lower">название (по убыванию) 	 &#8595;</option>
                <option value="price">стоимость (по возрастанию)     &#8593;</option>
                <option value="-price">стоимость (по убыванию) 	     &#8595;</option>
                <option value="amount">количество (по возрастанию)   &#8593;</option>
                <option value="-amount">количество (по убыванию)     &#8595;</option>
                <option value="amount_free">количество свободных (по возрастанию)     &#8593;</option>
                <option value="-amount_free">количество свободных (по убыванию)     &#8595;</option>
            </select>
            <button type="submit" class="btn btn-sm btn-primary btn-raised mt-1 mb-3">Сортировать</button>
        </form>
    </div>


    {% if big_objects %}
        <h3>{% if category == 'all' %} Составное оборудование
            <input id="big_objects_button" value="Показать" class="btn btn-outline-secondary" type="button" onclick="showTable();">
            {% endif %}
        </h3>


        <table class="table table-hover table-bordered" id="big_objects_table" {% if category == 'all' %}
               style="display: none"
        {% endif %}>
            <thead>
            <tr class="text-center">
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 70%">Название</th>
{#                <th scope="col" style="width: 20%">Категория</th>#}
                <th scope="col" style="width: 25%">РЮКС</th>
            </tr>
            </thead>

            <tbody>
            {% for big_object in big_objects %}
            <tr>
                <td></td>
                <td>
                    {% if big_object.top_level == True %}
                        <a href="{{ big_object.get_absolute_url }}">
                    {% else %}
                        <a href="{{ big_object.base.get_absolute_url }}">
                    {% endif %}

                    {% if big_object.name %}
                        {{ big_object.name }}
                    {% else %}
                        {{ big_object.base.name }}
                    {% endif %}
                    </a>
                </td>
{#                <td><a href="{{ big_object.base.category.get_absolute_url }}">{{ big_object.base.category.name }}</a></td>#}
                <td>{% if big_object.base.kod %}{{ big_object.get_full_kod }}{% endif %}</td>
            </tr>

            {% endfor %}
            </tbody>

        </table>

    {% endif %}

    {% if big_objects_write_off %}
        <h3>{{ category.name }} (списано)</h3>

        <table class="table table-hover table-bordered" id="big_objects_table">
            <thead>
            <tr class="text-center">
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 70%">Название</th>
{#                <th scope="col" style="width: 20%">Категория</th>#}
                <th scope="col" style="width: 25%">РЮКС</th>
            </tr>
            </thead>

            <tbody>
            {% for big_object in big_objects_write_off %}
                <tr>
                    <td></td>
                    <td>
                        {% if big_object.top_level == True %}
                            <a href="{{ big_object.get_absolute_url }}">
                        {% else %}
                            <a href="{{ big_object.base.get_absolute_url }}">
                        {% endif %}

                        {% if big_object.name %}
                            {{ big_object.name }}
                        {% else %}
                            {{ big_object.base.name }}
                        {% endif %}
                        </a>
                    </td>
{#                    <td><a href="{{ big_object.base.category.get_absolute_url }}">{{ big_object.base.category.name }}</a></td>#}
                    <td>{% if big_object.base.kod %}{{ big_object.get_full_kod }}{% endif %}</td>
                </tr>

            {% endfor %}
            </tbody>

        </table>

    {% endif %}

    {% if simple_objects %}

        {% if category == 'all' %}
            <h3 class="mb-3">{{ all_name }}</h3>
            <p>Количество позиций : {{ simple_objects_count }}</p>
        {% endif %}


        {% if is_paginator %}

            <nav aria-label="...">
                <ul class="pagination pagination-sm mb-0">
                    {% if prev_url %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{{ old_prefix }}">Начало</a>
                        </li>
                    {% endif %}

                    {% for n in page_object.paginator.page_range %}

                        {% if page_object.number == n %}
                            <li class="page-item active" aria-current="page">
                                <p class="page-link">{{ n }} <span class="sr-only">(current)</span></p>
                            </li>
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}{{ old_prefix }}">{{ n }}</a>
                            </li>

                        {% endif %}
                    {% endfor %}

                    {% if next_url %}
                        <li class="page-item">
                            <a class="page-link" href="{{ last_url }}{{ old_prefix }}">Конец</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        {% endif %}

        <table class="table table-hover table-bordered" id="simple_objects_table">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col" style="width: 30%"> Название</th>
                    <th scope="col" style="width: 15%">Инв. номер</th>
                    <th scope="col">Всего</th>
                    <th scope="col">Свободно</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Сумма</th>
                    {% if user.is_superuser %}
                        <th scope="col" style="width: 2%">#</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for simple_object in page_object.object_list %}
                    <tr>
                        <td></td>
                        <td>
                            <a href="{{ simple_object.get_absolute_url }}">{{ simple_object.name }}{% if simple_object.measure %}, {{ simple_object.measure }}{% endif %}</a>
                        </td>
                        <td>
                            {% if simple_object.base_object.inventory_number %}
                                {{ simple_object.base_object.inventory_number }}
                            {% endif %}
                        </td>
                        <td>{{ simple_object.amount }}</td>
                        <td {% if simple_object.amount_free < 0 %}style="background: #dc3545" {% endif %} >{{ simple_object.amount_free }}</td>
                        <td>{{ simple_object.price_text }}</td>
                        <td>{{ simple_object.total_price_text }}</td>
                        {% if user.is_superuser %}
                            <td><a href="{{ simple_object.get_absolute_update_url }}" target="_blank">&#9998;</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>

        </table>

        {% if is_paginator %}

            <nav aria-label="...">
                <ul class="pagination pagination-sm mb-0">
                    {% if prev_url %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{{ old_prefix }}">Начало</a>
                        </li>
                    {% endif %}

                    {% for n in page_object.paginator.page_range %}

                        {% if page_object.number == n %}
                            <li class="page-item active" aria-current="page">
                                <p class="page-link">{{ n }} <span class="sr-only">(current)</span></p>
                            </li>
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}{{ old_prefix }}">{{ n }}</a>
                            </li>

                        {% endif %}
                    {% endfor %}

                    {% if next_url %}
                        <li class="page-item">
                            <a class="page-link" href="{{ last_url }}{{ old_prefix }}">Конец</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        {% endif %}

    {% endif %}

    {% if base_objects %}
        {% if is_paginator %}

            <nav aria-label="...">
                <ul class="pagination pagination-sm mb-0">
                    {% if prev_url %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{{ old_prefix }}">Начало</a>
                        </li>
                    {% endif %}

                    {% for n in page_object.paginator.page_range %}

                        {% if page_object.number == n %}
                            <li class="page-item active" aria-current="page">
                                <p class="page-link">{{ n }} <span class="sr-only">(current)</span></p>
                            </li>
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}{{ old_prefix }}">{{ n }}</a>
                            </li>

                        {% endif %}
                    {% endfor %}

                    {% if next_url %}
                        <li class="page-item">
                            <a class="page-link" href="{{ last_url }}{{ old_prefix }}">Конец</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        {% endif %}

        <table class="table table-hover table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col" style="width: 3%">#</th>
                <th scope="col" style="width: 43%">Название</th>
                <th scope="col" style="width: 15%">Инв. номер</th>
                <th scope="col" style="width: 7%">Кабинет</th>
                <th scope="col" style="width: 10%">Счет</th>
                <th scope="col" style="width: 10%">Всего</th>
                <th scope="col" style="width: 10%">Сумма</th>
                {% if user.is_superuser %}
                    <th scope="col" style="width: 2%">#</th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for base_object in page_object.object_list %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ base_object.get_absolute_url }}">{{ base_object.name }}{% if base_object.measure %}, {{ base_object.measure }}{% endif %}</a>
                    </td>
                    <td>
                        {% if base_object.inventory_number %}
                            {{ base_object.inventory_number }}
                        {% endif %}
                    </td>
                    <td>
                        {% if base_object.get_place %}
                            {% for room in base_object.get_place %}
                                {{ room }}{% if forloop.last == False %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if base_object.bill %}
                            {{ base_object.bill }}
                        {% endif %}
                    </td>
                    <td>{{ base_object.amount }}</td>
                    <td>{{ base_object.total_price_text }}</td>
                    {% if user.is_superuser %}
                        <td><a href="{{ base_object.get_absolute_update_url }}" target="_blank">&#9998;</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>

        {% if is_paginator %}

            <nav aria-label="...">
                <ul class="pagination pagination-sm mb-0">
                    {% if prev_url %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{{ old_prefix }}">Начало</a>
                        </li>
                    {% endif %}

                    {% for n in page_object.paginator.page_range %}

                        {% if page_object.number == n %}
                            <li class="page-item active" aria-current="page">
                                <p class="page-link">{{ n }} <span class="sr-only">(current)</span></p>
                            </li>
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}{{ old_prefix }}">{{ n }}</a>
                            </li>

                        {% endif %}
                    {% endfor %}

                    {% if next_url %}
                        <li class="page-item">
                            <a class="page-link" href="{{ last_url }}{{ old_prefix }}">Конец</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        {% endif %}
    {% endif %}

    {% if write_off_objects %}

        {% if category == 'all' %}
            <h3 class="mb-3">Списано</h3>
            <p>Количество позиций : {{ write_off_objects|length }}</p>
        {% endif %}


        {% if is_paginator %}

            <nav aria-label="...">
                <ul class="pagination pagination-sm mb-0">
                    {% if prev_url %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{{ old_prefix }}">Начало</a>
                        </li>
                    {% endif %}

                    {% for n in page_object.paginator.page_range %}

                        {% if page_object.number == n %}
                            <li class="page-item active" aria-current="page">
                                <p class="page-link">{{ n }} <span class="sr-only">(current)</span></p>
                            </li>
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}{{ old_prefix }}">{{ n }}</a>
                            </li>

                        {% endif %}
                    {% endfor %}

                    {% if next_url %}
                        <li class="page-item">
                            <a class="page-link" href="{{ last_url }}{{ old_prefix }}">Конец</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        {% endif %}

        <table class="table table-hover table-bordered" id="simple_objects_table">
            <thead>
            <tr class="text-center">
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 60%"> Название</th>
                <th scope="col" style="width: 35%">Инв. номер</th>
            </tr>
            </thead>

            <tbody>
            {% for simple_object in page_object.object_list %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ simple_object.get_absolute_url }}">{{ simple_object.name }}{% if simple_object.measure %}, {{ simple_object.measure }}{% endif %}</a>
                    </td>
                    <td>
                        {% if simple_object.base_object.inventory_number %}
                            {{ simple_object.base_object.inventory_number }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        {% if is_paginator %}

            <nav aria-label="...">
                <ul class="pagination pagination-sm mb-0">
                    {% if prev_url %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{{ old_prefix }}">Начало</a>
                        </li>
                    {% endif %}

                    {% for n in page_object.paginator.page_range %}

                        {% if page_object.number == n %}
                            <li class="page-item active" aria-current="page">
                                <p class="page-link">{{ n }} <span class="sr-only">(current)</span></p>
                            </li>
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}{{ old_prefix }}">{{ n }}</a>
                            </li>

                        {% endif %}
                    {% endfor %}

                    {% if next_url %}
                        <li class="page-item">
                            <a class="page-link" href="{{ last_url }}{{ old_prefix }}">Конец</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        {% endif %}

    {% endif %}

    <input id="old_sorted_prefix" type="hidden" name="old_sorted" value="{{ old_prefix }}">

{% endblock %}