{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница для печати</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'db_site/favicon/LogoADL.gif' %}"/>
    <link rel="stylesheet" href="{% static 'db_site/style/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'db_site/style/db_site_style.css' %}">

</head>
<body>

<div class="container" style="max-width: 1500px; min-width: 1500px">
    <h2 class="text-center">{{ order.lab }}</h2>
    <h3 class="text-center pb-3">Заявка на выдачу от {{ order.date.date }} <br> Получатель : {{ profile.name }}</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="width: 2%">#</th>
            <th scope="col" style="width: 30%">Название</th>
            <th scope="col" style="width: 10%">Инв. номер</th>
            <th scope="col" style="width: 13%">Кол-во</th>
            <th scope="col" style="width: 15%">Накладная</th>
            <th scope="col" style="width: 10%">Счет</th>
            <th scope="col" style="width: 10%">Цена</th>
            <th scope="col" style="width: 10%">Сумма</th>
{#            <th scope="col" style="width: 5%">Подпись</th>#}
        </tr>
        </thead>
        <tbody>
        {% for data in order.equipment.all %}
            <tr>
                <td></td>
                <td>{{ data.simple_object.name }}</td>
                <td>{{ data.simple_object.base_object.inventory_number }}</td>
                <td>{{ data.amount }}{% if data.simple_object.measure %} {{ data.simple_object.measure }}{% endif %} </td>
                <td>
                    {% if data.simple_object.base_object.invoicebaseobject_set.all %}
                        {% for invoice in data.simple_object.base_object.invoicebaseobject_set.all %}
                            {{ invoice.invoice.number }}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    {% if data.simple_object.base_object.bill %}
                        {{ data.simple_object.base_object.get_short_bill }}
                    {% endif %}
                </td>
                <td>
                    {% if data.price %}
                        {{ data.price }}
                    {% endif %}
                </td>
                <td>
                    {% if data.total_price %}
                        {{ data.total_price|floatformat:2 }}
                    {% endif %}
                </td>
{#                <td></td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row pt-5">
        <div class="col">
            <p>Отпустил : Бизяева Юлия Михайловна / </p>
            <p>Получил : {{ profile.name }} / </p>
            <p>Дата выдачи : {{ time.date }}</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>
</body>

<script src="{% static 'db_site/scripts/jquery-3.4.1.js' %}"></script>
<script src="{% static 'db_site/scripts/mark.js' %}"></script>
<script src="{% static 'db_site/scripts/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'db_site/scripts/db_site_scripts.js' %}"></script>


</html>