{% extends 'base.html' %}

{% block content %}

    {% if user.is_staff %}
        <a class="btn btn-outline-secondary mb-3" href="{% url 'simple_object_update_form_url' lab=current_lab.slug slug=object.slug %}" role="button">Редактировать</a>
        {#    <a class="btn btn-outline-secondary mb-3" href="#" role="button">Списать количество</a>#}


        <!--------------------- Блок добавления категории для файлов ----------------------->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-secondary mb-3" data-toggle="modal" data-target="#new_files_category">
            Добавить категорию для файлов
        </button>

        <!-- Модальное окно -->
        <div class="modal fade" id="new_files_category" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Новая категория</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{ base_big_object.get_absolute_url }}" method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            {% if file_categories_form.errors %}
                                <div class="alert-danger">
                                    {{ file_categories_form.errors }}
                                </div>
                            {% endif %}
                            {{ file_categories_form.as_p }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-outline-primary">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------->

        {% if object.base_object.status != 'WO' %}
            <!--------------------- Блок списания количества ----------------------->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-secondary mb-3" data-toggle="modal" data-target="#object_write_off">
                Списать количество
            </button>

            <!-- Модальное окно -->
            <div class="modal fade" id="object_write_off" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Списать определенное количество</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{{ object.get_absolute_url }}" method="post">
                            <div class="modal-body">
                                <p>При списании всех простых объектов (итоговое количество равно нулю)
                                    и при условии что у связанного базового объекта есть только один простой,
                                    данный базовый объект так же будет списан и занулен </p>
                                {% csrf_token %}
                                {% if write_off_form.errors %}
                                    <div class="alert-danger">
                                        {{ write_off_form.errors }}
                                    </div>
                                {% endif %}
                                {{ write_off_form.as_p }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-outline-primary">Списать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------->
        {% endif %}

        <!--------------------- Блок удаления объекта ----------------------->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger mb-3" data-toggle="modal" data-target="#object_delete">
            Удалить
        </button>

        <!-- Модальное окно -->
        <div class="modal fade" id="object_delete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Удаление простого объекта</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Вы действительно хотите удалить объект {{ object.name }} ?
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'simple_object_delete_form_url' lab=object.lab.slug slug=object.slug %}"
                              method="post">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <input type="hidden" name="object_slug" value="{{ object.slug }}">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-outline-primary">Да, удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------------------------------------->

        <a class="btn btn-outline-secondary mb-3" href="{% url 'simple_object_history_url' lab=current_lab.slug slug=object.slug %}" role="button">История</a>
    {% endif %}

    <div class="row">
        <div class="col">
            <h1>{{ object.name }}</h1>
            <ul>
                {% if object.base_object %}
                    <li>Базовый объект : <a href="{{ object.base_object.get_absolute_url }}">{{ object.base_object.name }}</a></li>
                {% endif %}
                {% if object.base_object.invoicebaseobject_set.all %}
                    <li>
                        {% if object.base_object.invoicebaseobject_set.all|length == 1 %}
                            Накладная :
                        {% else %}
                            Накладные :
                        {% endif %}
                        {% for invoice in object.base_object.invoicebaseobject_set.all %}
                            <a href="{{ invoice.invoice.get_absolute_url }}">{{ invoice.invoice.number }}</a>
                        {% endfor %}
                    </li>
                {% endif %}
                {% if object.base_object.inventory_number %}
                    <li>Инвентаризационный номер : {{ object.base_object.inventory_number }}</li>
                {% endif %}
                {% if object.base_object.bill %}
                    <li>Счет : {{ object.base_object.bill }}</li>
                {% endif %}
                <li>Количество : {{ object.amount }} {% if object.measure %} , {{ object.measure }}{% endif %}</li>
                <li>В работе : {{ object.amount_in_work }}</li>
                <li>{% if object.amount_free < 0 %}Не хватает{% else %}Свободно{% endif %} : {{ object.amount_free }}</li>
                <li>Стоимость : {{ object.price_text }}</li>
                <li>Сумма : {{ object.total_price_text }}</li>
                <li>Лаборатория : {{ object.lab.name }}</li>
                <li>Дата создания : {{ object.date_add }}</li>
                {% if object.room.all %}
                    <li>Кабинет :
                        {% for object in object.room.all %}
                            <a href="{{ object.get_absolute_url }}">{{ object }} {% if forloop.last == False %}, {% endif %}</a>
                        {% endfor %}
                    </li>
                {% endif %}
                {% if object.place %}
                    <li>Место расположения : {{ object.place }}</li>
                {% endif %}
                {% if users %}
                    <li>Сотрудники :
                        {% for user in users %}
                            <a href="{{ user.profile.get_absolute_url }}">{{ user.profile.name }}</a>
                            ( {{ user.amount }}
                            {% if user.simple_object.measure %}
                                {{ user.simple_object.measure }}
                            {% endif %}
                            )
                        {% endfor %}
                    </li>
                {% endif %}
                {% if object.base_object.status %}
                    <li>Статус : {{ object.base_object.get_status_display }}</li>
                {% endif %}
                {% if object.category %}
                    <li>Категория : <a href="{{ object.category.get_absolute_url }}">{{ object.category.name }}</a></li>
                {% endif %}
                {% if object.text %}
                    <li>Описание : {{ object.text }}</li>
                {% endif %}

            </ul>
        </div>
        <div class="col">
            {% if object.base_object.invoicebaseobject_set.all %}
                {% for data in object.base_object.invoicebaseobject_set.all %}
                    {% if data.invoice.fileandimagecategory_set.all %}
                        <div class="row">
                            <div class="col text-center mb-3" style="background-color: #e9ecef">Требовательная накладная № {{ data.invoice.number }}</div>
                        </div>
                    {% endif %}

                    {% for cat in data.invoice.fileandimagecategory_set.all %}
                        <div class="row">
                            <div class="col text-center">
                                <h5 id="id__{{ cat.id }}" onclick="showCategory(this);" class="btn btn-outline-secondary">{{ cat.name }}</h5>
                            </div>
                            <div class="col">
                                <a class="btn btn-outline-primary" href="{% url 'object_update_category_files_url' lab=current_lab.slug slug=data.invoice.pk pk=cat.pk object_type='invoice' %}">Редактировать</a>
                            </div>
                        </div>
                        <div class="row" id="files_id__{{ cat.id }}" style="display: none">
                            <div class="col-md-12">
                                <h5>{{ cat.text }}</h5>
                            </div>
                            {% if cat.images.all %}
                                <div class="col-md-12">
                                    <hr>
                                </div>
                                <div class="col-md-12 mt-1">
                                    Изображения
                                </div>
                                <div class="col-md-12 text-left">
                                    {% for image in cat.images.all %}
                                        <a data-fancybox="gallery" href="{{image.image_big.url }}">
                                            <img class="mt-2" src="{{ image.image.url }}" alt="Изображение" width="15%">
                                        </a>
                                    {% endfor %}
                                    <hr>
                                </div>
                            {% endif %}
                            {% if cat.files.all %}
                                <div class="col-md-12">
                                    Файлы
                                </div>
                                {% for file in cat.files.all %}
                                    <div class="mt-2 col-md-12">
                                        <a href="{{ file.file.url }}" download>{{ file.filename }}</a>
                                    </div>
                                {% endfor %}
                                <div class="col-md-12">
                                    <hr>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}

            {% endif %}
            {% if file_categories %}
{#                <div class="row">#}
{#                    <div class="col text-center mb-3" style="background-color: #e9ecef">Экземпляр</div>#}
{#                </div>#}
                {% for category in file_categories %}
                    <div class="row">
                        <div class="col text-center">
                            <h5 id="id__{{ category.id }}" onclick="showCategory(this);" class="btn btn-outline-secondary">{{ category.name }}</h5>
                        </div>
                        <div class="col">
                            <a class="btn btn-outline-primary" href="{% url 'object_update_category_files_url' lab=current_lab.slug slug=object.slug pk=category.pk object_type='simple' %}">Редактировать</a>
                        </div>
                    </div>
                    <div class="row" id="files_id__{{ category.id }}" style="display: none">
                        <div class="col-md-12">
                            <h5>{{ category.text }}</h5>
                        </div>
                        {% if category.images.all %}
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12 mt-1">
                                Изображения
                            </div>
                            <div class="col-md-12 text-left">
                                {% for image in category.images.all %}
                                    <a data-fancybox="gallery" href="{{image.image_big.url }}">
                                        <img class="mt-2" src="{{ image.image.url }}" alt="Изображение" width="15%">
                                    </a>
                                {% endfor %}
                                <hr>
                            </div>
                        {% endif %}
                        {% if category.files.all %}
                            <div class="col-md-12">
                                Файлы
                            </div>
                            {% for file in category.files.all %}
                                <div class="mt-2 col-md-12">
                                    <a href="{{ file.file.url }}" download>{{ file.filename }}</a>
                                </div>
                            {% endfor %}
                            <div class="col-md-12">
                                <hr>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% if big_objects_list %}
        <h3>Данный объект используется в следующих устройствах :</h3>

        <table class="table table-hover table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Код</th>
                <th scope="col">Количество</th>
            </tr>
            </thead>

            <tbody>
            {% for big_object in big_objects_list %}
                <tr>
                    <td></td>
                    <td>
                        <a href="
                                {% if big_object.part.top_level %}
                                    {{ big_object.part.get_absolute_url }}
                                {% else %}
                                    {{ big_object.part.base.get_absolute_url }}
                                {% endif %}
                                ">

                            {% if big_object.part.name %}
                                {{ big_object.part.name }}
                            {% else %}
                                {{ big_object.part }}
                            {% endif %}
                        </a>
                    </td>
                    <td>{{ big_object.part.base.kod }}</td>
                    <td>{{ big_object.amount }}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

{% endblock %}