{% extends 'base.html' %}


{% block title %}
    {% if status == 'add' %}
        Добавление новой позиции
    {% elif status == 'update'%}
        Редактирование {{ simple_object.name }}
    {% endif %}
{% endblock %}


{% block content %}

    {% if status == 'add' %}
        <h3>Добавление новой позиции</h3>
    {% elif status == 'update'%}
        <h3>Редактирование <a href="{{ simple_object.get_absolute_url }}">{{ simple_object.name }}</a></h3>
    {% endif %}

    <form action="{% if status == 'add' %}
                        {% url 'simple_object_add_form_url' lab=current_lab.slug%}
                    {% elif status == 'update' %}
                        {% url 'simple_object_update_form_url' lab=current_lab.slug slug=slug%}{% if update_base_object == False %}?update_base_object=no{% endif %}
                    {% endif %}"
    method="post">
        {% csrf_token %}
            {% if form.errors %}
                <div class="alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
        {% for field in form %}
            <div class="mb-2">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                {% if field.id_for_label == 'search_box'%}
                    <div id="search_advice_wrapper"></div>
                {% endif %}
            </div>

        {% endfor %}

         <button type="submit" class="btn btn-primary">Сохранить</button>
            <input type="button" class="btn btn-primary" value="Назад" onClick="javascript:history.go(-1);">
    </form>

{% endblock %}