{% extends 'base.html' %}

{#{% block search %}#}
{#    <form class="form-inline my-2 my-lg-0">#}
{#        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">#}
{#        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>#}
{#    </form>#}
{#{% endblock %}#}

{#{% block top_nav %}#}
{#    <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#        <a class="navbar-brand" href="{% url 'home_page_url' %}">Главная</a>#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{##}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav mr-auto">#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="{% url 'simple_objects_url' %}">Основной список</a>#}
    {#            </li>#}
{#                {% if user.is_staff %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="/admin/">Admin</a>#}
{#                    </li>#}
{#                {% endif %}#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        Выпадающий список#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#">Действие</a>#}
{#                        <a class="dropdown-item" href="#">Другое действие</a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">Что-то еще здесь</a>#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#            <form class="form-inline my-2 my-lg-0">#}
{#                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">#}
{#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>#}
{#            </form>#}
{#        </div>#}
{#    </nav>#}
{#{% endblock %}#}
