{% extends 'base.html' %}

{% block title %}
    {{ worker.name }}
{% endblock %}

{% block content %}
    <h3>{{ worker.name }}</h3>
    <h4>Редактирование</h4>

    <form action="{% url 'worker_update_page_url' lab=current_lab.slug pk=worker.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary">Сохранить</button>
        <input type="button" class="btn btn-outline-secondary" value="Назад" onClick="javascript:history.go(-1);">
    </form>

{% endblock %}