{% extends 'base.html' %}

{% block title %}
    {{ worker.name }}
{% endblock %}

{% block content %}

    <a class="btn btn-outline-secondary mb-3" href="{% url 'worker_update_page_url' lab=current_lab.slug pk=worker.pk %}" role="button">Изменить</a>
    {% if user.is_superuser %}
        <a class="btn btn-outline-secondary mb-3" href="{% url 'worker_equipment_form_url' lab=current_lab.slug pk=worker.pk %}" role="button">Редактировать оборудование</a>
    {% endif %}

    <h3>{{ worker.name }}</h3>
    <ul>
        {% if worker.room_number %}
            <li>Кабинет : <a href="{{ worker.room_number.get_absolute_url }}">{{ worker.room_number }}</a></li>
        {% endif %}
        <li>Лаборатория : {{ worker.lab.name }}</li>
    </ul>

    {% if worker.workerequipment_set.all %}
        <h3>Оборудование :</h3>

        <table class="table table-hover table-bordered">
            <thead>
            <tr class="text-center">
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 60%">Название</th>
                <th scope="col" style="width: 25%">Инв. номер</th>
                <th scope="col" style="width: 10%">Количество</th>
            </tr>
            </thead>

            <tbody>
            {% for object in worker_equipments %}
                <tr>
                    <td></td>
                    <td>
                        <a href="{{ object.simple_object.get_absolute_url }}">{{ object.simple_object.name }}</a>
                    </td>
                    <td>{{ object.simple_object.base_object.inventory_number }}</td>
                    <td>{{ object.amount }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if orders %}
        <br>
        <h3>Запросы на выдачу оборудования и материалов : </h3>
        {% for order in orders %}
            <p>
                {{ order.date }}
                <a id="{{ order.pk }}" type="button" class="btn btn-outline-secondary ml-3" onclick="showTableOnPage(this)">Показать/Скрыть</a>
                {% if not order.confirm %}<a class="btn btn-outline-secondary ml-1" href="{% url 'worker_equipment_form_url' lab=current_lab.slug pk=worker.pk %}?order_number={{ order.pk }}" role="button">Редактировать</a>{% endif %}
                {% if not order.confirm and user.is_superuser %}
                    <!--------------------- Блок подтверждения заявки ----------------------->
                    <button type="button" class="btn btn-outline-secondary ml-1" data-toggle="modal" data-target="#order_confirm">
                        Подтвердить
                    </button>
                    <!----------------------------------------------------------------------->
                {% endif %}
            </p>
            <table class="table table-hover table-bordered" id="{{ order.pk }}_table" style="display: none">
                <thead>
                <tr class="text-center">
                    <th scope="col" style="width: 5%">#</th>
                    <th scope="col" style="width: 60%">Название</th>
                    <th scope="col" style="width: 25%">Инв. номер</th>
                    <th scope="col" style="width: 10%">Количество</th>
                </tr>
                </thead>

                <tbody>
                {% for object in order.equipment.all %}
                    <tr>
                        <td></td>
                        <td>
                            <a href="{{ object.simple_object.get_absolute_url }}">{{ object.simple_object.name }}</a>
                        </td>
                        <td>{{ object.simple_object.base_object.inventory_number }}</td>
                        <td>{{ object.amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!-- Модальное окно -->
            <div class="modal fade" id="order_confirm" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Подтверждение заявки</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{% url 'worker_order_confirm_url' lab=worker.lab.slug pk=order.pk %}" method="post">
                            <div class="modal-body">
                                {% csrf_token %}
                                <p>После подтверждения редактирование оборудования в заявке будет недоступно.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-outline-primary">Подтвердить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------->
        {% endfor %}

    {% endif %}

{% endblock %}