{% extends 'base.html' %}

{% block title %}
    Список задач
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Задачи</li>
{% endblock %}

{% block content %}
    <a class="btn btn-outline-secondary mb-3" href="{% url 'new_task_form_url' lab=current_lab.slug %}" role="button">Создать задачу</a>

    {% if private_task_list %}
        <h3>Приватные задачи</h3>

        <table class="table table-hover tree-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Начато</th>
                <th scope="col">Выполнить до</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>

            <tbody>
            {% for task_tree in private_task_list %}
                {% for task, level in task_tree %}
                    <tr data-id="{{ task.pk }}" data-parent="{{ task.parent.pk }}" data-level="{{ level }}">
                        <td></td>
                        <td {% if task.if_get_children %}class="glyphicon-chevron-right"{% endif %} data-column="name" style="width: 55%">
                            <a href="{{ task.get_absolute_url }}">{{ task.name}}</a>{% if profile in task.new_comment_for_executors.all %} &#128276;

                        {% endif %}
                        </td>
                        <td style="width: 15%">{% if task.start_date %}{{ task.start_date }}{% endif %}</td>
                        <td style="width: 15% ;background-color: {{ task.get_color }}">{{ task.end_date }}</td>
                        <td style="width: 15%">{{ task.get_status_display }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if task_list %}
        <h3>Активные задачи</h3>

        <table class="table table-hover tree-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Начато</th>
                <th scope="col">Выполнить до</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>

            <tbody>
            {% for task_tree in task_list %}
                {% for task, level in task_tree %}
                    <tr data-id="{{ task.pk }}" data-parent="{{ task.parent.pk }}" data-level="{{ level }}">
                        <td></td>
                        <td {% if task.if_get_children %}class="glyphicon-chevron-right"{% endif %} data-column="name" style="width: 55%">
                            <a href="{{ task.get_absolute_url }}">{{ task.name}}</a>{% if profile in task.new_comment_for_executors.all %} &#128276;

                            {% endif %}
                        </td>
                        <td style="width: 15%">{% if task.start_date %}{{ task.start_date }}{% endif %}</td>
                        <td style="width: 15% ;background-color: {{ task.get_color }}">{{ task.end_date }}</td>
                        <td style="width: 15%">{{ task.get_status_display }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>Активных задач нет</h3>
    {% endif %}
    {% if done_private_task_list %}
        <h3>Приватные закрытые задачи</h3>
        <table class="table table-hover tree-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Начато</th>
                <th scope="col">Закрыто</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>

            <tbody>
            {% for task_tree in done_private_task_list %}
                {% for task, level in task_tree %}
                    <tr data-id="{{ task.pk }}" data-parent="{{ task.parent.pk }}" data-level="{{ level }}">
                        <td></td>
                        <td {% if task.if_get_children %}class="glyphicon-chevron-right"{% endif %} data-column="name" style="width: 55%">
                            <a href="{{ task.get_absolute_url }}">{{ task.name}}</a>
                        </td>
                        <td style="width: 15%">{% if task.start_date %}{{ task.start_date }}{% endif %}</td>
                        <td style="width: 15%}">{{ task.close_date }}</td>
                        <td style="width: 15%">{{ task.get_status_display }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if done_task_list %}
        <h3>Закрытые задачи</h3>
        <table class="table table-hover tree-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Начато</th>
                <th scope="col">Закрыто</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>

            <tbody>
            {% for task_tree in done_task_list %}
                {% for task, level in task_tree %}
                    <tr data-id="{{ task.pk }}" data-parent="{{ task.parent.pk }}" data-level="{{ level }}">
                        <td></td>
                        <td {% if task.if_get_children %}class="glyphicon-chevron-right"{% endif %} data-column="name" style="width: 55%">
                            <a href="{{ task.get_absolute_url }}">{{ task.name}}</a>
                        </td>
                        <td style="width: 15%">{% if task.start_date %}{{ task.start_date }}{% endif %}</td>
                        <td style="width: 15%}">{{ task.close_date }}</td>
                        <td style="width: 15%">{{ task.get_status_display }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}