{% extends 'base.html' %}

{% block title %}
    Документация
{% endblock %}

{% block content %}
    <h1 class="text-center">Документация для пользователя</h1>
    <h3>Содержание</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#разделы">Разделы</a></li>
        <li class="list-group-item"><a href="#категории">Категории</a></li>
        <li class="list-group-item"><a href="#базовые_единицы">Базовые единицы</a></li>
        <li class="list-group-item"><a href="#простые_единицы">Простые единицы</a></li>
        <li class="list-group-item"><a href="#составное_оборудование">Составное оборудование</a></li>
        <li class="list-group-item">Страница сотрудника</li>
        <li class="list-group-item">Добавление новых данных в базу через загрузку файла</li>
    </ul>
    <br>
    <hr>
    <a name="разделы"></a>
    <h4>Разделы</h4>
    <div class="ml-3">
        <p>
            В базе данных на втором этаже все позиции у каждой лаборатории разделены на конкретные разделы.
            К примеру, у ЛПР - это разделы Основные (компьютеры, мониторы, осциллографы и т.д.) и Материалы
            (микросхемы, резисторы, гайки и т.д.). Каждый раздел состоит только из <a href="#базовые_единицы">базовых единиц</a>.
        </p>
    </div>

    <br>
    <hr>
    <a name="категории"></a>
    <h4>Категории</h4>
    <div class="ml-3">
        <p>Категорию можно создать с помощью кнопки 'Добавить категорию'. При создании необходимо указать имя категории и выбрать тип объектов, которые будут в ней находиться.</p>
        <p>
            У каждой простой единицы и каждого составного оборудования есть свои категории.
            К примеру, у всех резисторов может быть одна категория - резисторы. Категории сделаны для удобства
            сортировки простых единиц и составного оборудования. Если позиция не подходит ни под одну
            категорию, то она автоматически заносится в категорию 'Разное'.
        </p>
        <p class="not_margin">
            Категория 'Весь список' содержит все простые единицы и всё составное оборудование для выбранной лаборатории.
        </p>
        <p>
            Категория 'Списано' содержит все списанные простые единицы для выбранной лаборатории.
        </p>
    </div>

    <br>
    <hr>
    <a name="базовые_единицы"></a>
    <h4>Базовые единицы</h4>
    <div class="ml-3">
        <p>
            Так как база данных второго этажа не соответствует фактическим позициям в лаборатории, были созданы базовые единицы.
            Они добавляются (создаются) через <a href="">загрузку файла с данными</a>. На базовую единицу могут ссылаться одна или несколько простых единиц.
            Таким образом можно составить связь между одним резистором из базы данных второго этажа и несколькими различными резисторами фактически находящимися в лаборатории.
        </p>
    </div>

    <br>
    <hr>
    <a name="простые_единицы"></a>
    <h4>Простые единицы</h4>
    <div class="ml-3">
        <p>
            Простые единицы представляют собой фактические позиции в лаборатории.
            Они создаются вручную с помощью кнопки 'Создать простую единицу', либо при <a href="">загрузке файла с данными</a>.
            При создании вручную необходимо заполнить обязательные поля (Название) и по желанию заполнить остальные.
            Если при создании не выбрана конкретная категория, то данная позиция сохранится с категорией 'Разное'.

        </p>
    </div>

    <br>
    <hr>
    <a name="составное_оборудование"></a>
    <h4>Составное оборудование</h4>
    <div class="ml-3">
        <p>
            Составное оборудование создается из простых единиц и другого составного оборудования (сборочных единиц).
            В него входят камеры, блоки питания (всё, что собирается в лаборатории).
        </p>
        <h5>Создание</h5>
        <p>
            При клике на кнопку 'Создать составное оборудование' открывается форма, в которой обязательно нужно заполнить поле
            Название и выбрать категорию. Поле РЮКС/РШАП является уникальным. Чекбокс 'Объект верхнего уровня' ставится в случае,
            если планируется создавать копии оборудования. Под копией подразумевается полностью идентичный объект, за исключением названия и
            окончания РЮКСа/РШАПа или другого уникального кода.
        </p>
        <h5>Редактирование</h5>
        <p>
            После создания открывается основная страница объекта. На ней есть кнопка 'Редактировать' ,
            с помощью которой можно изменить те же поля, что были при создании. Так же добавляется чекбокс 'Объект готов',
            который запрещает дальнейшее редактирование данного объекта. Такой функционал необходим для предотвращения изменения объекта в дальнейшем,
            так как оборудование с определенным РЮКСом не может быть изменено, можно только создать новое и назначить ему новый РЮКС.
            Поэтому <strong>после создания объекта и наполнения его комплектующими необходимо запрещать его дальнейшее редактирование</strong>.
        </p>
        <h5>Редактирование экземпляров</h5>
        <p class="not_margin">
            Если при создании составного оборудования был установлен чекбокс 'Объект верхнего уровня', то появляется возможность создавать экземпляры
            данного оборудования, каждый со своими уникальными полями.
            При редактировании таких экземпляров есть возможность изменить статус.
        </p>
        <p class="not_margin">
            Статус 'Не в работе' означает, что экземпляр в данный момент не собирается,
            никакие компоненты для сборки не расходуются.
        </p>
        <p class="not_margin">
            Статус 'В работе' означает, что экземпляр в данный момент собирается, соответственно
            все <a href="#простые_единицы">простые единицы</a>, входящие в его состав, используются при сборке,
            а значит у каждой такой <a href="#простые_единицы">простой единицы</a> увеличивается значение находящихся в работе экземпляров.
        </p>
        <p>
            Статус 'Готово' означает, что экземпляр собран, все <a href="#простые_единицы">простые единицы</a>, входящие в его состав, уже использованы,
            а значит общее количество каждой <a href="#простые_единицы">простой единицы</a> уменьшается, находящиеся в работе единицы так же уменьшаются
            на количество использованных.
        </p>
        <h5>Добавление и редактирование составляющих</h5>
        <p>
            Так как созданный объект является составным, то необходимо добавить к этому объекту его составляющие части (компоненты).
            Для этого на странице данного составного объекта есть две кнопки : 'Редактировать компоненты' и 'Редактировать сборочные единицы'.
        </p>
        <p>
            Кнопка 'Редактировать компоненты' отвечает за добавление и редактирование <a href="#простые_единицы">простых единиц</a>. Для добавления необходимо в поле 'Простой объект'
            выбрать объект, который входит в состав данного составного оборудования и указать количество.
            Если таких компонентов много, то дополнительные компоненты можно добавить с помощью кнопки 'Добавить объект'.
            В случае, если нужно удалить по ошибке добавленный простой объект, то напротив него в поле количество указать ноль и сохранить форму.
        </p>
        <p class="not_margin">
            Кнопка 'Редактировать сборочные единицы' отвечает за добавление и редактирование <a href="#составное_оборудование">сборочных единиц</a>, входящих в состав выбранного для редактирования
            составного оборудования. После выбора из списка сборочной единицы и сохранения формы, данная сборочная единица будет входить в состав
            редактируемого объекта, при этом так же в состав будут включены все составляющие и компоненты выбранной сборочной единицы.
        </p>
        <p>
            Необходимо учитывать тот факт, что если редактируемая единица уже входит в состав других единиц, то изменения внесутся в каждую сборочную единицу, где она присутствует.
        </p>
        <h5>Копирование</h5>
        <p>
            Кнопка 'Копировать' позволяет создать полную копию выбранного составного оборудования. При копировании нужно указать новое название.
            Данный функционал доступен только если выбранный объект является объектом верхнего уровня. Обычные сборочные единицы копировать нельзя, их можно использовать только в составе других единиц.
        </p>
        <h5>Создание нового объекта на основе существующего</h5>
        <p>
            Если новый объект отличается от используемого, то его необходимо создать с нуля, не с помощью копирования существующего и дальнейшим его изменением,
            а с помощью создания нового составного оборудования, с новым РЮКСом, и последующим его наполнением компонентами.
            В итоге, <strong>копирование используется только для создания полной копии, не для последующего редактирования</strong>.
        </p>
        <h5>Добавление файлов и фото</h5>
        <p class="not_margin">
            Для каждого составного оборудования (готовая камера, компоненты камеры) можно загрузить документы и фото, которые будут относиться к конкретному экземпляру,
            либо ко всем экземплярам, если его копировали.
        </p>
        <p>
            При нажатии на кнопку 'Добавить категорию для файлов' откроется форма, где нужно будет ввести название категории для файлов и по желанию описание категории.
            После этого страница перезагрузится и на ней появится только что созданная категория, которую теперь можно редактировать.
            На странице редактирования категории есть две отдельные формы - для загрузки изображений и загрузки файлов. Выборку можно делать множественную.
            После выбора файлов или изображений нужно нажать 'Сохранить'.
        </p>
        <h5>Формирование файла со списком компонентов</h5>
        <p>
            Для формирования Excel файла со списком всех комплектующих, которые входят в состав выбранного объекта,
            необходимо нажать на кнопку 'Сформировать файл'. После перезагрузки страницы появится новая категория
            'Сформированные файлы' (если данная категория уже была, новая создаваться не будет), и в этой категории
            будут находиться все сформированные файлы.
        </p>
    </div>

{% endblock %}